/* body { */
/* 	font:80%/1.7 Verdana, Geneva, Arial, Helvetica, sans-serif; */
/* 	margin:4em 0 0 0; */
/* } */

/* title styles */
H1 {
	text-align: center;
	font: normal 2em arial;
	color: #1B6FC0;
}
H2 {
	font: normal 1.5em arial;
	color: #8b2;
}

.doc {
    overflow: hidden;
    background-color: white;
}

.doccontent {
    margin: 0px 0px 0px 226px;
    padding: 0px 10px 0px 0px;
    background-color: white;
    font-family: serif;
}

.doccontent code
{
    font: normal 16px monospace;
}

.doccontent .separator{
  height: 10ex;
  background: #fff url(hr1.gif) no-repeat scroll center;
}

/* browsing menu */
.nav {
	width: 200px;
        float: left;
	padding: 15px 10px 0px 15px;
	margin: 0px;
        font-family: arial;
        background-color: white;
}

.nav ul {
	border: 0;
        list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav ul .navsubul {
	border: 0;
        list-style: none;
	padding: 0.7em 0px 0px 25px;
	margin: 0px;
}

.nav .jelly {
	padding: 0px;
	margin: 0px 0px 0.7em 0px;
}

.nav a
{
    font-weight: bold;
    color: #06c;
    text-decoration: none;
}
.nav a:hover
{
    color: #8b2;
    text-decoration: none;
}
.nav em
{
    color: #ccc;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}


/* the box around the actual syntax content */
.syntax-box {
	background: #ccccff;
	padding: 0.3em;
	border: solid; 
	border-width: 1px;

        font-size:15px;
}

/* how a category listing is formatted - it's a table with rows that
alternate in color */
.category-table {
	border-collapse:collapse;
}
.category-table-tr-1 {
	padding: 0.4em;
	border: solid #000000;
	border-width: 1px;
	background-color:#ffffff;
}
.category-table-tr-2 {
	padding: 0.4em;
	border: solid #000000;
	border-width: 1px;
	background-color:#eeeeff;
}
.category-table-td {
	margin: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

/* compilation lines */
PRE.fragment {
    font-size: 14px;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
