/* Main */

body
{
    margin: 0px 15px 15px 15px;
    padding: 0px;
    background-color: black;
}

img
{
    border: 0px;
}

.page
{
    width: 100%;
    min-width: 730px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    background-color: white;    
}

/* Header */

.header
{
    height: 80px;
    overflow: hidden;
    background-color: white;
}

/* Menu */

.topmenu
{
    height: 40px;
    overflow: hidden;
    background-image: url(image/topmenu.png);
    background-repeat: repeat-x;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.ltopmenu
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.rtopmenu
{
    position: absolute;
    right: 0px;
    top: 0px;
}

.ttopmenu ul
{
    margin: 0px;
    padding: 0px;
}

.ttopmenu li
{
    float: left;
    width: 175px;
    padding: 0px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-family: arial;
    background-image: url(image/topmenu-highlight.png);
    background-position: right center;
    background-repeat: no-repeat;
    list-style: none;
}

.ttopmenu a
{
    width: 175px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.ttopmenu a:hover
{
    background: url(image/topmenu-highlight.png);
}

/* Submenu */

.submenu
{
    height: 26px;
    overflow: hidden;
    background-image: url(image/submenu.png);
    background-repeat: repeat-x;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
}

.lsubmenu
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.rsubmenu
{
    position: absolute;
    right: 0px;
    top: 0px;
}

.tsubmenu ul
{
    margin: 0px;
    padding: 0px;
}

.tsubmenu li
{
    float: left;
    width: 175px;
    padding: 0px;
    line-height: 26px;
    color: white;
    text-align: center;
    font-family: arial;
    background-image: url(image/submenu-highlight.png);
    background-position: right center;
    background-repeat: no-repeat;
    list-style: none;
}

.tsubmenu a
{
    width: 175px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.tsubmenu a:hover
{
    background: url(image/submenu-highlight.png);
}

/* Content */

.content
{
    margin: 0px 20px 0px 20px;
    overflow: hidden;
    background-color: white;
    font: normal 16px serif;
}

.content p
{
    margin: 1.5em 0px 0px 0px;
}

.content code
{
    font: normal 16px monospace;
}

.content h1
{
    margin: 0.8em 0px 0px 0px;
    font: normal 2em arial;
    /* color: #9e3f3f; */
    color: #8b2;
}

/* Footer */

.footer
{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-image: url(image/footer.png);
    background-repeat: repeat-x;
    background-position: right bottom;
    margin: 15px 0px 0px 0px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.footer a
{
    color: #dddddd;
    text-decoration: none;
}

.footer a:hover
{
    color: white;
}

.lfooter
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.rfooter
{
    position: absolute;
    right: 0px;
    top: 0px;
}
