/************
   * FOOTER *
   **********/

#footer
{
  background-color: #FFFFFF;
  width: 100%;
  float: right;
  text-align: right;
  color: black;
  margin: 20px 0 0 0;
  padding: 0;
  }

#footer a
{
  text-decoration: none;
  }
