/* body { */
/* 	font:80%/1.7 Verdana, Geneva, Arial, Helvetica, sans-serif; */
/* 	margin:4em 0 0 0; */
/* } */

/* title styles */
h1 {
	text-align: center;
	font: normal 2em arial;
	color: #1B6FC0;
        padding: 0px;
        margin: 0px 0px 10px 0px;
}
h2 {
	font: normal 1.5em arial;
        font-weight: bold;
	color: #8b2;
        padding: 0px;
        margin: 0px 0px 10px 0px;
}

.doc {
    overflow: hidden;
    background-color: white;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}


/* browsing menu */
.nav {
	width: 200px;
        float: left;
	padding: 15px 10px 0px 15px;
	margin: 0px;
        font-family: arial;
        background-color: white;
}

.nav ul {
	border: 0;
        list-style: none;
	padding: 0px;
	margin: 0px;
        color: #8b2;
}

.nav ul .navsubul {
	border: 0;
        list-style: none;
	padding: 0.5em 0px 0px 25px;
	margin: 0px;
}

.nav .jelly {
	padding: 0px;
	margin: 0px 0px 0.5em 0px;
}

.nav a
{
    font-weight: bold;
    color: #06c;
    text-decoration: none;
}
.nav a:hover
{
    color: #8b2;
    text-decoration: none;
}
.nav em
{
    color: #06c;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}


/* the box around the actual syntax content */
.syntax-box {
	background: #ccccff;
	padding: 0.3em;
	border: solid; 
	border-width: 1px;

        font-size:15px;
}

/* how a category listing is formatted - it's a table with rows that
alternate in color */
.category-table {
	border-collapse:collapse;
}
.category-table-tr-1 {
	padding: 0.4em;
	border: solid #000000;
	border-width: 1px;
	background-color:#ffffff;
}
.category-table-tr-2 {
	padding: 0.4em;
	border: solid #000000;
	border-width: 1px;
	background-color:#eeeeff;
}
.category-table-td {
	margin: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

/* compilation lines */
PRE.fragment {
	font-family: "Courier New";
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
/* @group Heading Levels */

/* For Doxygen (API) */
.doxygen {
    overflow: hidden;
    font-size: 90%;
    background-color: white;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
}
/* Within Doxygen (below the tabs) */
.contents {
    padding: 0px 10px 0px 10px;
    font-family: serif;
}

.doxygen h1 {
	text-align: center;
	font-size: 150%;
}

.doxygen h1 a {
	text-decoration: none;
	color: #1B6FC0;
	font-weight: normal;
	text-decoration: none;
}

.doxygen h1 a:hover {
	text-decoration: none;
}

.doxygen h2 {
        margin: 15px 0px 10px 0px;
	font-size: 120%;
}

.doxygen h2 a {
        font-weight: bold;
	color: #8b2;
	text-decoration: none;
}

.doxygen h2 a:hover {
	text-decoration: none;
}

.doxygen h3 {
	font-size: 100%;
}

.contents code {
	font-family: "Courier New";
	font-size: 100%;
	font-weight: bold;
}

/* @end */

caption {
	font-weight: bold;
}

div.qindex, div.navtab{
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
}

div.qindex, div.navpath {
	width: 100%;
	line-height: 140%;
}

div.navtab {
	margin-right: 15px;
}

/* @group Link Styling */

.doxygen a {
	color: #153788;
	font-weight: normal;
	text-decoration: none;
}

.doxygen .contents a:visited {
	color: #1b77c5;
}

.doxygen a:hover {
	text-decoration: underline;
}

.doxygen a.qindex {
	font-weight: bold;
}

.doxygen a.qindexHL {
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}

.doxygen .contents a.qindexHL:visited {
        color: #ffffff;
}

.doxygen a.el {
	font-weight: bold;
}

.doxygen a.elRef {
}

.doxygen a.code {
}

.doxygen a.codeRef {
}

/* @end */

dl.el {
	margin-left: -1cm;
}

fragment {
	font-family: monospace, fixed;
	font-size: 105%;
}

pre.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
}

div.ah {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: bold;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

td.indexkey {
	background-color: #e8eef2;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	margin: 2px 0px 2px 0;
	padding: 2px 10px;
}

td.indexvalue {
	background-color: #e8eef2;
	border: 1px solid #CCCCCC;
	padding: 2px 10px;
	margin: 2px 0px;
}

tr.memlist {
	background-color: #f0f0f0;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
	
}

img.formulaInl {
	vertical-align: middle;
}

/* @group Code Colorization */

span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}

span.vhdldigit { 
	color: #ff00ff 
}

span.vhdlchar { 
	color: #000000 
}

span.vhdlkeyword { 
	color: #700070 
}

span.vhdllogic { 
	color: #ff0000 
}

/* @end */

.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}

input.search {
        border: solid 1px #85b1de;
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #e8eef2;
}

/* To deal with a strange behavior of Doxygen: when the search engine is
   activated, useless code appears at the bottom of every page. This code is
   inside a div with id "MSearchSelectWindow". It is removed thanks to the
   lines below. */
#MSearchSelectWindow {
    display: none;
}

td.tiny {
	font-size: 75%;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #84b0c7;
}

th.dirtab {
	background: #e8eef2;
	font-weight: bold;
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid #666;
}

/* @group Member Descriptions */

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	background-color: #FAFAFA;
	border: none;
	margin: 4px;
	padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
	padding: 0px 8px 4px 8px;
	color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
	border-top: 1px solid #ccc;
}

.memTemplParams {
	color: #606060;
}

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate {
	font-size: 80%;
	color: #606060;
	font-weight: normal;
	margin-left: 3px;
}

.memnav {
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

.memitem {
	padding: 0;
}

table.memname tr {vertical-align: bottom;}

.memname {
	font-weight: bold;
}

table.memname td.memname {vertical-align: top;}

.memproto, .memdoc {
	border: 1px solid #84b0c7;	
}

.memproto {
	padding: 0;
	background-color: #d5e1e8;
	font-weight: bold;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

.memdoc {
	padding: 2px 5px;
	background-color: #eef3f5;
	border-top-width: 0;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

.paramkey {
	text-align: right;
}

.paramtype {
	white-space: nowrap;
}

.paramname {
	color: #602020;
	white-space: nowrap;
}
.paramname em {
	font-style: normal;
}

/* @end */

/* @group Directory (tree) */

/* for the tree view */

.ftvtree {
	font-family: sans-serif;
	margin: 0.5em;
}

/* these are for tree view when used as main index */

.directory {
	font-size: 9pt;
	font-weight: bold;
}

.directory h3 {
	margin: 0px;
	margin-top: 1em;
	font-size: 11pt;
}

/*
The following two styles can be used to replace the root node title
with an image of your choice.  Simply uncomment the next two styles,
specify the name of your image and be sure to set 'height' to the
proper pixel height of your image.
*/

/*
.directory h3.swap {
	height: 61px;
	background-repeat: no-repeat;
	background-image: url("yourimage.gif");
}
.directory h3.swap span {
	display: none;
}
*/

.directory > h3 {
	margin-top: 0;
}

.directory p {
	margin: 0px;
	white-space: nowrap;
}

.directory div {
	display: none;
	margin: 0px;
}

.directory img {
	vertical-align: -30%;
}

/* these are for tree view when not used as main index */

.directory-alt {
	font-size: 100%;
	font-weight: bold;
}

.directory-alt h3 {
	margin: 0px;
	margin-top: 1em;
	font-size: 11pt;
}

.directory-alt > h3 {
	margin-top: 0;
}

.directory-alt p {
	margin: 0px;
	white-space: nowrap;
}

.directory-alt div {
	display: none;
	margin: 0px;
}

.directory-alt img {
	vertical-align: -30%;
}

/* @end */

address {
	font-style: normal;
	color: #333;
}

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { font-family: "Courier New"; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
